{% extends 'base.html.twig' %}

{% block title %}Products Page
{% endblock %}

{% block body %}

	<section class="products-page products staffs">
		<h1>Découvrez tous nos
			<span>produits</span>
			!
		</h1>
		<h4>Découvrez nos produits : une symphonie de saveurs exquises.
		</h4>
		<div class="card-list">
			<div class="card"><img src="{{asset('imgs/gauffre1.jpg')}}" alt="">
				<h2>Gauffre Crème<br>anglaise
				</h2>
			</div>
			<div class="card"><img src="{{asset('imgs/gauffre2.jpg')}}" alt="">
				<h2>Gauffre Vanille
				</h2>
			</div>
			<div class="card"><img src="{{asset('imgs/gauffre1.jpg')}}" alt="">
				<h2>Gauffre Crème<br>anglaise
				</h2>
			</div>
			<div class="card"><img src="{{asset('imgs/gauffre2.jpg')}}" alt="">
				<h2>Gauffre Vanille
				</h2>
			</div>
			<div class="card"><img src="{{asset('imgs/gauffre1.jpg')}}" alt="">
				<h2>Gauffre Crème<br>anglaise
				</h2>
			</div>
			<div class="card"><img src="{{asset('imgs/gauffre2.jpg')}}" alt="">
				<h2>Gauffre Vanille
				</h2>
			</div>
			<div class="card"><img src="{{asset('imgs/gauffre1.jpg')}}" alt="">
				<h2>Gauffre Crème<br>anglaise
				</h2>
			</div>
			<div class="card"><img src="{{asset('imgs/gauffre2.jpg')}}" alt="">
				<h2>Gauffre Vanille
				</h2>
			</div>
			<div class="card"><img src="{{asset('imgs/gauffre1.jpg')}}" alt="">
				<h2>Gauffre Crème<br>anglaise
				</h2>
			</div>
			<div class="card"><img src="{{asset('imgs/gauffre2.jpg')}}" alt="">
				<h2>Gauffre Vanille
				</h2>
			</div>
		</div>
	</div>
</section>{% endblock %}
